

<div id="page-wrapper">
	<h2><%= user.name %></h2>
	</br>
	<h3>Email: <%= user.email %> </h3>
	<h3><%= user.state %></h3>
	<a class="btn btn-medium btn-primary" href="/admin/edit_u/<%= user.id %>">Edit</a>
</div>
