<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Kute shop' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/jquery.bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="/lib/owl.carousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/lib/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/styles/animate.css" />
    <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css" />
  </head>

  <body>
  <div id="header" class="header">
    <div class="top-header">
        <div class="container">
            <div class="nav-top-links">
                <a class="first-item" href="#"><img alt="phone" src="/images/phone.png" />01674674104</a>
                <a href="#"><img alt="email" src="/images/email.png" />Contact us today!</a>
            </div>
            <div class="currency ">
                <div class="dropdown">
                      <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">USD</a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Dollar</a></li>
                        <li><a href="#">Euro</a></li>
                        <li><a href="#">VND</a></li>
                      </ul>
                </div>
            </div>
            <div class="language ">
                <div class="dropdown">
                      <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                      <img alt="email" src="/images/fr.jpg" />English
                      
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><img alt="email" src="/images/en.jpg" />English</a></li>
                        <li><a href="#"><img alt="email" src="/images/fr.jpg" />VietNamese</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="support-link">
                <a href="#">Services</a>
                <a href="#">Support</a>
            </div>

            <div id="user-info-top" class="user-info pull-right">
                <div class="dropdown">
                    <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span>My Account</span></a>
                    <ul class="dropdown-menu mega_dropdown" role="menu">
                        <li><a href="login">Login</a></li>
                        <li><a href="login">Sign up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/.top-header -->
    <!-- MAIN HEADER -->
    <div class="container main-header">
        <div class="row">
            <div class="col-xs-12 col-sm-3 logo">
                <a href=""><img alt="Kute shop - themelock.com" src="/images/logo.png" /></a>
            </div>
            <div class="col-xs-7 col-sm-7 header-search-box">
                <form class="form-inline">
                      <div class="form-group form-category">
                        <select class="select-category">
                            <option value="2">All Categories</option>
                            <option value="1">Men's</option>
                            <option value="2">Women's</option>
                            <option value="3">Kids</option>
                        </select>
                      </div>
                      <div class="form-group input-serach">
                        <input type="text"  placeholder="Keyword here...">
                      </div>
                      <button type="submit" class="pull-right btn-search"></button>
                </form>
            </div>
            <div id="cart-block" class="col-xs-5 col-sm-2 shopping-cart-box">
                <a class="cart-link" href="order">
                    <span class="title">Shopping cart</span>
                    <span class="total">1 items - 61.19 €</span>
                    <span class="notify notify-left">1</span>
                </a>
                <div class="cart-block">
                    <div class="cart-block-content">
                        <h5 class="cart-title">1 Items in my cart</h5>
                        <div class="cart-block-list">
                            <ul>
                                <li class="product-info">
                                    <div class="p-left">
                                        <a href="#" class="remove_link"></a>
                                        <a href="#">
                                        <img class="img-responsive" src="/data/scaves_3.jpg" alt="p10">
                                        </a>
                                    </div>
                                    <div class="p-right">
                                        <p class="p-name">Donec Ac Tempus</p>
                                        <p class="p-rice">61,19 €</p>
                                        <p>Qty: 1</p>
                                    </div>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="toal-cart">
                            <span>Total</span>
                            <span class="toal-price pull-right">61.19 €</span>
                        </div>
                        <div class="cart-buttons">
                            <a href="order.html" class="btn-check-out">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- END MANIN HEADER -->


    <%- body %>


    <footer id="footer">
        <div class="container">
            <!-- introduce-box -->
            <div id="introduce-box" class="row">
                <div class="col-md-3">
                    <div id="address-box">
                        <a href="#"><img src="/data/introduce-logo.png" alt="" /></a>
                        <div id="address-list">
                            <div class="tit-name">Address:</div>
                            <div class="tit-contain">227 Nguyen Van Cu, P4, Q5 TPHCM.</div>
                            <div class="tit-name">Phone:</div>
                            <div class="tit-contain">01674674104</div>
                            <div class="tit-name">Email:</div>
                            <div class="tit-contain">linhchi8094@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="introduce-title">Company</div>
                            <ul id="introduce-company" class="introduce-list">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <div class="introduce-title">My Account</div>
                            <ul id="introduce-Account" class="introduce-list">
                                <li><a href="#">My Order</a></li>
                                <li><a href="#">My Credit Slip</a></li>
                                <li><a href="#">My Addresses</a></li>
                               
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <div class="introduce-title">Support</div>
                            <ul id="introduce-support" class="introduce-list">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="contact-box">
                        
                        <!-- /input-group -->
                        <div class="introduce-title">Let's Socialize</div>
                        <div class="social-link">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#introduce-box -->
            <!-- #trademark-box -->
            <!--<div id="trademark-box" class="row">
                <div class="col-sm-12">
                    <ul id="trademark-list">
                        <li id="payment-methods">Accepted Payment Methods</li>
                        <li>
                            <a href="#"><img src="/data/trademark-ups.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/data/trademark-qiwi.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/data/trademark-wu.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/data/trademark-cn.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/data/trademark-visa.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/data/trademark-mc.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/data/trademark-ems.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/data/trademark-dhl.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/data/trademark-fe.jpg" alt="ups" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/data/trademark-wm.jpg" alt="ups" /></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /#trademark-box -->
            <!-- #trademark-text-box -->
            
                              
               
            </div>
            <!-- /#trademark-text-box -->
            <div id="footer-menu-box">
                <p class="text-center">UDPT_2016_KuteShop. Designed by 1212006_1212029_1212367_1212437</p>
            </div>
            <!-- /#footer-menu-box -->
        </div>
    </footer>
    <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
    <!-- Script-->
    <script type="text/javascript" src="/lib/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/lib/owl.carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/lib/jquery.countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/js/jquery.actual.min.js"></script>
    <script type="text/javascript" src="/js/theme-script.js"></script>
    
<script type="text/javascript" src="/lib/jquery.elevatezoom.js"></script>
<script type="text/javascript" src="/lib/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/lib/fancyBox/jquery.fancybox.js"></script>
  </body>
</html>
