<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/jquery.bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="/lib/owl.carousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/lib/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/styles/animate.css" />
    <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css" />
    
    <title>Kute shop - themelock.com</title>
</head>
<body class="home">
    <div id="nav-top-menu" class="nav-top-menu">
        <div class="container">
           
                <div id="main-menu" class="col-sm-9 main-menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="homepage">Home</a></li>
                                      
                                    
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
            <!-- userinfo on top-->
           
<!-- END Home slideder-->


<div class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-30 col-sm-20 page-top-left">
                <div class="popular-tabs">
                <ul class="nav-tab">
                        <li class="active"><a data-toggle="tab" href="#tab-1">MEN's CLOTHING</a></li>
                       
                      </ul>
                     
                      <div class="tab-container">
                            <div id="tab-1" class="tab-panel active">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2">
                                                <img class="img-responsive" alt="product" src="pictures/man/jacket/jacket (1).jpg" />
                                            </a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="detail2"></a>
                                                    <a title="Add to compare" class="compare" href="detail2"></a>
                                                    <a title="Quick view" class="search" href="detail2"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" href="detail2">Add to Cart</a>
                                            </div>
                                            <div class="group-price">
                                                <span class="product-new">NEW</span>
                                                <span class="product-sale">Sale</span>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="/product/show/5">Woman's jackets</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/man/jacket/jacket (2).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="detail2"></a>
                                                    <a title="Add to compare" class="compare" href="detail2"></a>
                                                    <a title="Quick view" class="search" href="detail2"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" href="detail2">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="detail2">Woman's skirst</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/man/jacket/jacket (3).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="detail2"></a>
                                                    <a title="Add to compare" class="compare" href="detail2"></a>
                                                    <a title="Quick view" class="search" href="detail2"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" href="detail2">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="group-price">
                                                <span class="product-new">NEW</span>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="detail2">Woman's skirst</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/man/jacket/jacket (4).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="detail2"></a>
                                                    <a title="Add to compare" class="compare" href="detail2"></a>
                                                    <a title="Quick view" class="search" href="detail2"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" href="detail2">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="detail2">Flowers Dress</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab-2" class="tab-panel">
                                <ul class="product-list owl-carousel"  data-dots="false" data-loop="true" data-nav = "true" data-margin = "30"  data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2">
                                            <img class="img-responsive" alt="product" src="pictures/man/jacket/jacket (5).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="detail2"></a>
                                                    <a title="Add to compare" class="compare" href="detail2"></a>
                                                    <a title="Quick view" class="search" href="detail2"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" href="detail2">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="detail2"> Men's shirts</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2">
                                            <img class="img-responsive" alt="product" src="pictures/man/jacket/jacket (6).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="detail2"></a>
                                                    <a title="Add to compare" class="compare" href="detail2"></a>
                                                    <a title="Quick view" class="search" href="detail2"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" href="detail2">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="detail2">Men's T-shirts</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/man/jacket/jacket (7).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="detail2"></a>
                                                    <a title="Add to compare" class="compare" href="detail2"></a>
                                                    <a title="Quick view" class="search" href="detail2"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" href="detail2">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="detail2">Woman's pants</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/man/jacket/jacket (8).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="detail2"></a>
                                                    <a title="Add to compare" class="compare" href="detail2"></a>
                                                    <a title="Quick view" class="search" href="detail2"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" href="detail2">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="detail2">Men's jackets</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab-3" class="tab-panel">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "30" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/man/jacket/jacket (9).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="detail2"></a>
                                                    <a title="Add to compare" class="compare" href="detail2"></a>
                                                    <a title="Quick view" class="search" href="detail2"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" href="detail2">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="detail2">Woman's jackets</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/man/jacket/jacket (10).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="detail2"></a>
                                                    <a title="Add to compare" class="compare" href="detail2"></a>
                                                    <a title="Quick view" class="search" href="detail2"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" href="detail2">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="detail2">Woman's scaves</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                      </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<!--PANTS-->
<div class="content-page">
<div class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-30 col-sm-20 page-top-left">
                <div class="popular-tabs">
                <ul class="nav-tab">
                        <li class="active"><a data-toggle="tab" href="#tab-1">WOMEN'S CLOTHING</a></li>
                       
                      </ul>
    
                        <div class="tab-container">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-4">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2" >
                                            <img class="img-responsive" alt="product" src="pictures/woman/pants/pants_1.jpeg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Blue Dress</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>

                                     <li>
                                        <div class="left-block">
                                            <a href="detail2" >
                                            <img class="img-responsive" alt="product" src="pictures/woman/pants/pants_2.jpeg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Blue Dress</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="left-block">
                                            <a href="detail2">
                                            <img class="img-responsive" alt="product" src="pictures/woman/pants/pants_3.jpeg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare"></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Yellow Dress</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2">
                                            <img class="img-responsive" alt="product" src="pictures/woman/pants/pants_4.jpeg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Cyan Dress</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2" >
                                            <img class="img-responsive" alt="product" src="pictures/woman/pants/pants_5.jpeg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Nice Dress</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                   
                                   
                                </ul>
                            </div>
                            <!-- tab product -->
                            <div class="tab-panel" id="tab-5">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2">
                                            <img class="img-responsive" alt="product" src="pictures/woman/pants/pants_6.jpeg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare"></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Nice Dress</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2">
                                            <img class="img-responsive" alt="product" src="pictures/woman/pants/pants_7.jpeg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare"></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Flowers Dress</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2">
                                            <img class="img-responsive" alt="product" src="pictures/woman/pants/pants_8.jpeg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare"></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Red Dress</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2" >
                                            <img class="img-responsive" alt="product" src="pictures/woman/pants/pants_9.jpeg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Blue Dress</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>

                            <!-- tab product -->
                            <div class="tab-panel" id="tab-5">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2" >
                                            <img class="img-responsive" alt="product" src="pictures/woman/pants/pants_10.jpeg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Nice Dress</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>


                        </div>
                        
                    </div>
                </div>
           </div>
        </div>
        
    </div>
</div>

<!--scaves-->

<div class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-30 col-sm-20 page-top-left">
                <div class="popular-tabs">
                <ul class="nav-tab">
                        <li class="active"><a data-toggle="tab" href="#tab-1">KID'S CLOTHING</a></li>
                       
                      </ul>
                     
                      <div class="tab-container">
                            <div id="tab-1" class="tab-panel active">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2" >
                                                <img class="img-responsive" alt="product" src="pictures/kid/clothing/quan ao be gai (1).jpg" />
                                            </a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                            <div class="group-price">
                                                <span class="product-new">NEW</span>
                                                <span class="product-sale">Sale</span>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a>Woman's jackets</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/kid/clothing/quan ao be gai (2).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart"></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Woman's skirst</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/kid/clothing/quan ao be gai (3).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="group-price">
                                                <span class="product-new">NEW</span>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a>Woman's skirst</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/kid/clothing/quan ao be gai (4).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare"></a>
                                                    <a title="Quick view" class="search"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Flowers Dress</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab-2" class="tab-panel">
                                <ul class="product-list owl-carousel"  data-dots="false" data-loop="true" data-nav = "true" data-margin = "30"  data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2">
                                            <img class="img-responsive" alt="product" src="pictures/kid/clothing/quan ao be gai (5).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a> Men's shirts</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2">
                                            <img class="img-responsive" alt="product" src="pictures/kid/clothing/quan ao be gai (6).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Men's T-shirts</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/kid/clothing/quan ao be gai (7).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a>Woman's pants</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/kid/clothing/quan ao be gai (8).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare"></a>
                                                    <a title="Quick view" class="search"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Men's jackets</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                      </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

<!--Skirt-->

<div class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-30 col-sm-20 page-top-left">
                <div class="popular-tabs">
                <ul class="nav-tab">
                        <li class="active"><a data-toggle="tab" href="#tab-1">ACCESSORIES</a></li>
                       
                      </ul>
                     
                      <div class="tab-container">
                            <div id="tab-1" class="tab-panel active">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2">
                                                <img class="img-responsive" alt="product" src="pictures/man/scravats/cravat (1).jpg" />
                                            </a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart"></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart">Add to Cart</a>
                                            </div>
                                            <div class="group-price">
                                                <span class="product-new">NEW</span>
                                                <span class="product-sale">Sale</span>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/woman/scaves/scaves_2.jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Woman's skirst</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/woman/scaves/scaves_3.jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="group-price">
                                                <span class="product-new">NEW</span>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Woman's skirst</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/man/jacket/jacket (4).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Flowers Dress</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab-2" class="tab-panel">
                                <ul class="product-list owl-carousel"  data-dots="false" data-loop="true" data-nav = "true" data-margin = "30"  data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2">
                                            <img class="img-responsive" alt="product" src="pictures/woman/skirst/skirts_5.jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a > Men's shirts</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2">
                                            <img class="img-responsive" alt="product" src="pictures/woman/scaves/scaves_6.jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare"></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Men's T-shirts</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/woman/scaves/scaves.jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart"></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Woman's pants</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/woman/skirst/skirts_8.jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare"></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Men's jackets</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab-3" class="tab-panel">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "30" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/man/scravats/cravat (3).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart"></a>
                                                    <a title="Add to compare" class="compare" ></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a >Woman's jackets</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="detail2"><img class="img-responsive" alt="product" src="pictures/man/scravats/cravat (4).jpg" /></a>
                                            <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" ></a>
                                                    <a title="Add to compare" class="compare"></a>
                                                    <a title="Quick view" class="search" ></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" >Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a>Woman's scaves</a></h5>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                                <span class="price old-price">$52,00</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                      </div>
                </div>
            </div>
           
        </div>
    </div>
</div>



</body>

</html>